.mensaje-propio-container {
    background-color: #202c38;
    width: 75%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
}

.mensaje-externo-container {
    background-color: #202c38;
    width: 75%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
}

.estado-day-hour-container {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.otro {
    color: rgb(156, 52, 52);
}

.yo {
    color: rgba(149, 92, 255, 0.5);
}

.text {
    color: white;
    word-wrap: break-word;
}

.estado {
    color: rgba(255, 255, 255, 0.5);
}

.day{
    color: rgba(255, 255, 255, 0.5);
}
.hour {
    color: rgba(255, 255, 255, 0.5);
}