.header-contacto {
    width: 100%;
}

.header-contacto .contact-container {
    background-color: #263037;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.back-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.back-btn .icon {
    font-size: 30px;
    color: white;
}

.header-contacto .contact-container .foto-de-perfil {
    width: 50px;
    border: 2px solid black;
    border-radius: 70px;
    margin-right: 10px;
}

.header-contacto .contact-container .nombre-contacto {
    color: white;
}